<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <!--     Fonts and icons     -->
  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="https://res.cloudinary.com/dtt1gd36w/raw/upload/v1551654795/material-dashboard.css" />
  <!-- Material Kit CSS -->

  <link rel="icon" type="image/x-icon" href="http://www.iconarchive.com/download/i99377/dtafalonso/android-lollipop/Play-Games.ico">

</head> 

<body>
  <div class="wrapper ">
    <div class="sidebar" data-color="purple" data-background-color="white">
      <!--
      Tip 1: You can change the color of the sidebar using: data-color="purple | azure | green | orange | danger"

      Tip 2: you can also add an image using data-image tag
  -->
      <div class="logo">
        <a class="simple-text logo-mini">
         	Games
        </a>
        <a class="simple-text logo-normal">
          for Gamers
        </a>
      </div>
      <div class="sidebar-wrapper">
        <ul class="nav">
          <li class="nav-item active  ">
            <a class="nav-link" href="http://localhost:8080/Games4Gamers">
              <i class="material-icons">dashboard</i>
              <p>Dashboard</p>
            </a>
            <a class="nav-link" href="http://localhost:8080/Games4Gamers/management">
              <i class="material-icons">list</i>
              <p>Management</p>
            </a>
            <a class="nav-link" href="http://localhost:8080/Games4Gamers/dashboard">
              <i class="material-icons">assessment</i>
              <p>Assessment</p>
            </a>
            <a class="nav-link" href="http://localhost:8080/Games4Gamers/store">
              <i class="material-icons">store</i>
              <p>Web Store</p>
            </a>
            <a class="nav-link" href="#0">
              <i class="material-icons">build</i>
              <p>Settings</p>
            </a>
          </li>
          <!-- your sidebar here -->
        </ul>
      </div>
    </div>
    <div class="main-panel">
      <!-- Navbar -->
      <nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top ">
        <div class="container-fluid">
          <div class="navbar-wrapper">
            <a class="navbar-brand" href="#pablo">Dashboard</a>
          </div>
          <button class="navbar-toggler" type="button" data-toggle="collapse" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
            <span class="sr-only">Toggle navigation</span>
            <span class="navbar-toggler-icon icon-bar"></span>
            <span class="navbar-toggler-icon icon-bar"></span>
            <span class="navbar-toggler-icon icon-bar"></span>
          </button>
          <div class="collapse navbar-collapse justify-content-end">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link" href="#pablo">
                  <i class="material-icons">notifications</i> Notifications
                </a>
              </li>
              <!-- your navbar here -->
            </ul>
          </div>
        </div>
      </nav>
      