<div class="content">
	<div class="container-fluid">

		<div class="container-fluid">
			<div class="row">
				<div class="col-sm-4" align="center">
					<div class="card">
						<div class="card-body">
							<h5 class="card-title">Product Management</h5>
							<p class="card-text">
							<img alt="" src="http://icons.iconarchive.com/icons/icons8/ios7/128/Ecommerce-Cardboard-Box-icon.png">
							</p>							
							<a href="http://localhost:8080/Games4Gamers/products" class="btn btn-primary">Manage</a>
						</div>
					</div>
				</div>
				<div class="col-sm-4" align="center">
					<div class="card" >
						<div class="card-body">
							<h5 class="card-title">Product Type Management</h5>
							<p class="card-text">
							<img alt="" src="http://icons.iconarchive.com/icons/icons8/ios7/128/Ecommerce-Move-By-Trolley-icon.png">
							</p>							
							<a href="http://localhost:8080/Games4Gamers/tipoProducto" class="btn btn-primary">Manage</a>
						</div>
					</div>
				</div>
				<div class="col-sm-4" align="center">
					<div class="card">
						<div class="card-body">
							<h5 class="card-title">Providers Management</h5>
							<p class="card-text">
							<img alt="" src="http://icons.iconarchive.com/icons/icons8/ios7/128/Ecommerce-Delivery-icon.png">
							</p>
							<a href="http://localhost:8080/Games4Gamers/proveedor" class="btn btn-primary">Manage</a>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>
</div>